
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Shared Styles */
.btn-primary{
    font-weight: 700;
    font-size: 16px;
    background-color: #4E47FF;
    color: #FFFFFF;
    padding: 12px 36px;
    border: none;
    border-radius: 10px;
}

/* Nav Bar Styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 150px;
}

.nav-title{
    font-weight: 900;
    font-size: 34px;
    color: #4E47FF;
}

/* Banner Styles */
.banner-title{
    font-weight: 700;
    font-size: 65px;
    margin-bottom: 0px;
}

.banner-content{
    max-width: 905px;
    margin: 0 267.5px 0 267.5px;
}

/* Header Background Image */
header{
    background-image: url('../Assets/Hero-bg.png');
    text-align: center;
}

.gap-top{
    margin-top: 37px;
    margin-bottom: 152px;
}

/* Action Styles */
.action{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 116px 159px 116px 141px;
}

.action-title{
    font-weight: 700;
    font-size: 42px;
    margin-bottom: 0;
}

.action-description{
    font-weight: 400;
    font-size: 24px;
    color: rgba(37, 36, 50, 0.5);
    margin-top: 23px;
}

.action-image{
    height: 328px;
    width: 403px;
    border-radius: 48px;
}

.action-left{
    max-width: 517px;
    margin-right: px;
}

/* productive-user Styles */
.productive-user{
    background-color: rgba(78, 71, 255, 0.1);
    max-width: 1258px;
    margin: 50px 142px 50px 142px ;
    padding: 50px 80px;
    border-radius: 24px;
    text-align: center;

}

.users-status{
    display: flex;
    justify-content: space-around;
}

.item-title{
    color: #4E47FF;
    font-weight: 700;
    font-size: 80px;
    margin-top: 40px;
    margin-bottom: 0;
}

.item-description{
    color: rgba(0, 0, 0, 0.5);
    font-weight: 400;
    font-size: 20px;
    margin-top: 5px;
}

.productive-user-title{
    font-weight: 700;
    font-size: 38px;
    margin-bottom: 0;
}

/* Feedback Styles */
.card-display{
    display: flex;
    gap: 20px;
}

.feedback-title{
    font-weight: 700;
    font-size: 42px;
    color: rgba(37, 36, 50, 1);
}

.text-align{
    text-align: center;
}

.feedback-card{
    max-width: 386.67px;
    padding: 24px;
    border: none;
    border-radius: 14px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.feedback{
    margin: 0 151px;
}

.card-title{
    font-weight: 120px;
    font-size: 24px;
}

.card-description{
    font-weight: 140px;
    font-size: 16px;
}

.card-icon{
    border-radius: 50%;
}

.card-name{
    font-weight: 140px;
    font-size: 16px;
    color: #757575;
}

.date{
    font-weight: 140px;
    font-size: 16px;
    color: #B3B3B3;
}

/* Get Started Styles */
.get-started-title{
    font-weight: 700;
    font-size: 50px;
    color: #000000;
    margin-bottom: 0;
}

.get-started-text{
    font-weight: 140px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 20px;
}

.get-started-image{
    height: 364.77px;
    width: 840px;
    border-radius:  48px;
    margin-top: auto20px;
}
.get-started{
    text-align: center;
    padding: 71px 150px;
    background-color: #FFFFFF;
    margin: 0 150px 0px 150px;
}

/* Get in touch styles */
.get-in-touch{
    display: flex;
    gap: 115px;
    width: 50%;
    margin: 0 150px 14px 150px;
}

.get-in-touch-title{
    margin-top: 150px;

}

.get-in-touch-form input,
.get-in-touch-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}

.get-in-touch-form input[type="button"]{
    width: 100%;
}




